/* RESET */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    background: linear-gradient(90deg, #1f2020, #7FA38A);
}

.logo {
    height: 120px;
}

/* NAV */
.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
}

/* BOTÃO */
.botao {
    background-color: #2196f3;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
}

/* HERO (primeira seção) */
.hero {
    position: relative;
}

.hero-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.hero-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.hero-texto h1 {
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}

/* SERVIÇOS */
.servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 40px;
}

.servico-img {
    width: 200px;
}

.servico-texto {
    max-width: 400px;
}

/* MENU MOBILE */
.menu-toggle {
    width: 30px;
    cursor: pointer;
    z-index: 3;
}

.menu-toggle span {
    display: block;
    height: 3px;
    background: #7A3B12;
    margin: 5px 0;
    transition: 0.3s;
}

/* MENU ESCONDIDO */
#menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    padding: 15px;
    border-radius: 10px;

    /* COMEÇA FORA DA TELA */
    transform: translateX(100%);
    transition: transform 0.4s ease;
}

/* QUANDO ATIVO */
#menu.active {
    transform: translateX(0);
}


/* ANIMAÇÃO DO MENU */
.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}